.mylike_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18rem 0 8rem 0;
}

.mylike_left ul li {
    font-size: 15px;
    margin-bottom: 7px;
}

.mylike_left ul li:hover {
    font-weight: 500;
    cursor: pointer;
}

.mylike_left ul li:nth-child(5) {
    margin-top: 20px;
    opacity: 50%;
}

.mylike_right {
    margin: auto;
    width: 75%;
    text-align: center;
}

.mylike_card {
    display: inline;
    padding: 1rem;
}

.mylike_right img {
    width: 25%;
    object-fit: cover;
    margin: 1rem;
}

.image_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}
.img_item img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* 이미지가 찌그러지지 않게 */
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.img_item img:hover { transform: scale(1.05); }

/* 반응형 */
@media(max-width:767px) and (min-width:320px) {

        .top_logo i {
        display: block;
        position: absolute;
        font-size: 2rem;
        top: 2rem;
        right: 2rem;
        color: #909090;
    }

    .mylike_card {
    width: 100%;
    }
}
