<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디/비번 찾기</title>

    <!-- 스타일 -->
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/id,pw.css">

    <!-- 스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/idpw_new.js" defer></script>

    <style type="text/css">
        A:link {
            text-decoration: none;
            color: #000000;
        }

        A:visited {
            text-decoration: none;
            color: #000000;
        }

        A:active {
            text-decoration: none;
            color: #000000;
        }

        A:hover {
            text-decoration: none;
            color: #000000;
        }
    </style>

</head>

<body>
    <a href="/">
        <header id="login">
            <h1>DAILY</h1>
            <h1>LOG</h1>
        </header>
    </a>

    <section class="idpw_wrap">
        <article id="left">
            <div id="left_content" class="idpw_article">
                <p class="idpw_title">아이디 / 이메일 찾기</p>
                <div  class="id input_group">
                    <label for="name1">이름</label>
                    <input id="name1" type="text" class="email_input">
                </div>
                <div  class="id input_group">
                    <label for="phone1">전화번호</label>
                    <input id="phone1" type="text" class="email_input" placeholder="010-0000-0000">
                </div>
                <div class="id input_group">
                    <label for="birthday1">생년월일</label>
                    <input type="date" id="birthday1">
                </div>
                <input id="findid" type="button" class="submit" value="아이디 찾기">
            </div>
        </article>

        <article id="right">
            <div id="right_content" class="idpw_article">
                <p class="idpw_title">비밀번호 찾기</p>
                <div class="input_group">
                    <label for="email1">이메일</label>
                    <input id="email1" type="email" class="email_input" placeholder="example@email.com">
                </div>
                <input id="RSTPW" onclick="RstPW()" type="button" class="submit" value="비밀번호 찾기">
            </div>
        </article>
    </section>
</body>

</html>
